.labels {
    font-size: 11px
}

.container {
    border-radius: 12px;
}

p.text-right {
    font-size: 40px;
    span {
        color: #474DDC;
        font-size: 50px;
        font-weight: 500;
    }
}