.link-wrap {
    word-break: break-all;
    text-align: right;
}
.labels {
    font-size: 11px
}

.container {
    border-radius: 12px;
}

p.text-right {
    font-size: 40px;
    span {
        color: #474DDC;
        font-size: 50px;
        font-weight: 500;
    }
}

a.text-secondary.font-weight-300 {
    display: inline-block;       /* Đặt chế độ hiển thị là inline-block để `text-overflow` hoạt động */
    max-width: 300px;            /* Giới hạn chiều rộng của link */
    white-space: nowrap;         /* Không xuống dòng */
    overflow: hidden;            /* Ẩn phần nội dung tràn ra ngoài */
    text-overflow: ellipsis;     /* Thêm dấu `...` ở cuối */
}

