<div class="container bg-white my-5">
    <div class="row d-flex align-items-center">
        <div class="col-5 border-right p-3">
            <div class="d-flex flex-column align-items-center text-center">
                <img class="rounded-circle" width="150px" src="../../../assets/avatar.jpg">
            </div>
            <ul class="list-group list-group-flush pt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0 col-4"><i class="fa-solid fa-code"></i> Source</p>
                    <div class="col-8">
                        <span class="text-secondary">
                            <a class="text-secondary font-weight-300" href="https://github.com/laingoctrang/iot-backend" target="_blank">https://github.com/laingoctrang/iot-backend</a>
                        </span>
                        <span class="text-secondary">
                            <a class="text-secondary font-weight-300" href="https://github.com/laingoctrang/iot-frontend" target="_blank">https://github.com/laingoctrang/iot-frontend</a>
                        </span>
                    </div>
                    
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0 col-4"><i class="fa-regular fa-folder-open"></i> Report</p>
                    <span class="text-secondary col-8">
                        <a class="text-secondary font-weight-300" href="https://drive.google.com/file/d/1fRe0ws5Sn5JJR1iZEw6WxQnyffjaszSo/view?usp=drive_link" target="_blank">https://drive.google.com/file/d/1fRe0ws5Sn5JJR1iZEw6WxQnyffjaszSo/view?usp=drive_link</a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0 col-4"><i class="fa-solid fa-list-ul"></i> API Docs</p>
                    <span class="text-secondary col-8">
                        <a class="text-secondary font-weight-300" href="https://documenter.getpostman.com/view/34306715/2sAY4rDjUZ" target="_blank">https://documenter.getpostman.com/view/34306715/2sAY4rDjUZ</a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="text-right">Hi. I'm <span>Lai Ngoc Trang</span></p>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Subject</label><input type="text"
                            class="form-control font-weight-300" placeholder="first name" value="IoT and Applications">
                    </div>
                    <div class="col-md-6"><label class="labels">Group Number</label><input type="text"
                            class="form-control font-weight-300" value="05" placeholder="surname"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2"><label class="labels">Student ID</label><input type="text"
                            class="form-control font-weight-300" placeholder="education" value="B21DCCN717"></div>
                    <div class="col-md-12 mt-2"><label class="labels">Mobile Number</label><input type="text"
                            class="form-control font-weight-300" placeholder="enter phone number" value="0349400313">
                    </div>
                    <div class="col-md-12 mt-2"><label class="labels">Email</label><input type="text"
                            class="form-control font-weight-300" placeholder="enter email id"
                            value="laingoctrang23@gmail.com"></div>

                </div>
            </div>
        </div>

    </div>
</div>