@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "@coreui/chartjs/scss/coreui-chartjs";

.card {
  border-radius: 12px;
}

label {
  font-size: 40px;
  font-weight: 400;
}

#gauge i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 0px;
}

#gauge label {
  font-size: 18px;
}

.dust-gauge-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  margin-left: calc(0.06595656188147286 * 100vw - 37.32167392798462px);
  margin-right: calc(0.07101391990230406 * 100vw - 51.79560102769527px);
  font-weight: 300;
  font-size: small;
  color: #666;

  span {
    margin-left: 5px;
    margin-top: -15px;
    color: #000;
    font-size: 15px;
  }
}


// Chart
#chart {
  display: flex;
  flex-direction: column;
}

p.title {
  font-size: 40px;

}

#lineChart1 {
  height: 430px;
}

// Toggle
#toggle {
  display: grid;                  /* Sử dụng grid layout */
  grid-auto-rows: auto;           /* Tất cả các hàng có chiều cao bằng nhau */
}

.toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checking-container {
  font-size: 16px;
  font-weight: 300;
  color: rgba(37, 43, 54, 0.682);
}

.checking-container .spinner-border {
  width: 16px;
  height: 16px;
  border-width: 1.5px;
  margin-right: 5px;
}

.toggle-content {
  height: 100%; /* To make the content stretch vertically */
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom of the container */
}

.toggle-content i {
  font-size: 40px; /* Icon size */
}

.toggle-content p {
  font-size: 16px; /* Text size */
  margin: 0;
}

.form-check.form-switch {
  margin-left: auto;
}

.form-check.form-switch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-check-input {
  width: 45px;
  height: 25px;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input.fan:checked {
  background-color: #6595b1;
  border-color: #6595b1;
}

/* Đổi màu của hình tròn bên trong switch */
.form-check-input:checked:focus {
  box-shadow: none; /* Ánh sáng viền khi bật */
}

.gradient-background {
  background: linear-gradient(-45deg, #dff2eb, #7AB2D3);
}

.flash-background {
  animation: flash .25s 10 alternate; 
}

@keyframes flash {
  from {
    background-color: #dff2eb; /* Màu nền ban đầu */
  }
  to {
    background-color: #7AB2D3; /* Màu nền nháy */
  }
}