@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "@coreui/chartjs/scss/coreui-chartjs";

.card {
  border-radius: 12px;
}

#gauge i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  color: #fff;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 0px;
}

#gauge label {
  font-size: 18px;
}

#temperature i {
  background-color: #FF8B6A;
}

#humidity i {
  background-color: #659CE7;
}

#light i {
  background-color: #6DC98D;
}

.temperature-gauge-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0.06595656188147286 * 100vw - 37.32167392798462px);
  margin-right: calc(0.0700183769848176 * 100vw - 47.07238703168923px);
  margin-top: -30px;
  font-weight: 300;
  font-size: small;
  color: #666;

  span {  
    margin-top: -15px;
    color: #000;
    font-size: 15px;
  }
}

.humidity-gauge-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  margin-left: calc(0.06595656188147286 * 100vw - 37.32167392798462px);
  margin-right: calc(0.07101391990230406 * 100vw - 51.79560102769527px);
  font-weight: 300;
  font-size: small;
  color: #666;

  span {
    margin-left: 5px;
    margin-top: -15px;
    color: #000;
    font-size: 15px;
  }
}

.light-gauge-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  margin-left: calc(0.06595656188147286 * 100vw - 37.32167392798462px);
  margin-right: calc(0.07130004631118167 * 100vw - 56.93308771691778px);
  font-weight: 300;
  font-size: small;
  color: #666;

  span {
    margin-left: 15px;
    margin-top: -15px;
    color: #000;
    font-size: 15px;
  }
}


// Chart
#chart {
  display: flex;
  flex-direction: column;
}

p.title {
  font-size: 40px;

}

#lineChart {
  height: 420px;
}

// Toggle
#toggle {
  display: grid;                  /* Sử dụng grid layout */
  grid-auto-rows: auto;           /* Tất cả các hàng có chiều cao bằng nhau */
}

.toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checking-container {
  font-size: 16px;
  font-weight: 300;
  color: rgba(37, 43, 54, 0.682);
}

.checking-container .spinner-border {
  width: 16px;
  height: 16px;
  border-width: 1.5px;
  margin-right: 5px;
}

.toggle-content {
  height: 100%; /* To make the content stretch vertically */
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom of the container */
}

.toggle-content i {
  font-size: 40px; /* Icon size */
}

.toggle-content p {
  font-size: 16px; /* Text size */
  margin: 0;
}

.form-check.form-switch {
  margin-left: auto;
}

.form-check.form-switch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-check-input {
  width: 45px;
  height: 25px;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input.fan:checked {
  background-color: #FF8B6A;
  border-color: #FF8B6A;
}

.form-check-input.ac:checked {
  background-color: #659CE7;
  border-color: #659CE7;
}

.form-check-input.bulb:checked {
  background-color: #6DC98D;
  border-color: #6DC98D;
}

/* Đổi màu của hình tròn bên trong switch */
.form-check-input:checked:focus {
  box-shadow: none; /* Ánh sáng viền khi bật */
}

#fan.gradient-background {
  background: linear-gradient(-45deg, #FFE3B1, #FFA497);
  border: none;
}

#ac.gradient-background {
  background: linear-gradient(-45deg, #FDD6EE, #79B1ED);
  border: none;
}

#bulb.gradient-background {
  background: linear-gradient(-45deg, #FBF2B3, #9ADBBD);
  border: none;
}


/* Media queries */

// <= 80%
@media (min-width: 1550px) {
  .temperature-gauge-value {
    margin-left: 65px !important;
    margin-right: 62px !important;
  }

  .humidity-gauge-value {
    margin-left: 65px !important;
    margin-right: 59px !important;
  }

  .light-gauge-value {
    margin-left: 65px !important;
    margin-right: 50px !important;
  }

  #lineChart {
    height: 380px !important;
  }
}